IoT Security/Node-RED_flows/Reset flow.json
[{"id":"8939545f.cf6e38","type":"tab","label":"Reset Flow","disabled":false,"info":""},{"id":"e0b9bb39.288708","type":"inject","z":"8939545f.cf6e38","name":"Reset Alarm","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"05reset","payloadType":"str","x":510,"y":240,"wires":[["f9bc0e92.9c91e","e19c4989.e26a08"]]},{"id":"62672b28.65c9d4","type":"trigger","z":"8939545f.cf6e38","name":"send every 3 hours","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-3","extend":false,"overrideDelay":false,"units":"hr","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":310,"y":160,"wires":[["35c11a12.2c6dc6"]]},{"id":"35c11a12.2c6dc6","type":"switch","z":"8939545f.cf6e38","name":"If not Alarm","property":"isAlarmOn","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":160,"wires":[["f9bc0e92.9c91e","e19c4989.e26a08"]]},{"id":"9f34ac92.92cb5","type":"inject","z":"8939545f.cf6e38","name":"Fill Arrays","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"05reset","payloadType":"str","x":120,"y":160,"wires":[["62672b28.65c9d4"]]},{"id":"f9bc0e92.9c91e","type":"change","z":"8939545f.cf6e38","name":"Reset variables","rules":[{"t":"delete","p":"completeCheck","pt":"global"},{"t":"delete","p":"temperatureArray","pt":"global"},{"t":"set","p":"temperatureArray","pt":"global","to":"","tot":"str"},{"t":"delete","p":"brightnessArray","pt":"global"},{"t":"set","p":"brightnessArray","pt":"global","to":"","tot":"str"},{"t":"delete","p":"microphoneArray","pt":"global"},{"t":"set","p":"microphoneArray","pt":"global","to":"","tot":"str"},{"t":"delete","p":"linearHallArray","pt":"global"},{"t":"set","p":"linearHallArray","pt":"global","to":"","tot":"str"},{"t":"delete","p":"gpsArraySing","pt":"global"},{"t":"set","p":"gpsArraySing","pt":"global","to":"","tot":"str"},{"t":"delete","p":"gpsArray","pt":"global"},{"t":"set","p":"gpsArray","pt":"global","to":"","tot":"str"},{"t":"delete","p":"zAccellerometerArray","pt":"global"},{"t":"set","p":"zAccellerometerArray","pt":"global","to":"","tot":"str"},{"t":"delete","p":"isAlarmOn","pt":"global"},{"t":"set","p":"arraySize","pt":"global","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":160,"wires":[[]]},{"id":"e19c4989.e26a08","type":"mqtt out","z":"8939545f.cf6e38","name":"reset","topic":"atm-group3-00","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"fb7c421f.802b9","x":750,"y":240,"wires":[]},{"id":"fb7c421f.802b9","type":"mqtt-broker","name":"","broker":"paologas91.chickenkiller.com","port":"1883","clientid":"node-RED-group3","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]