IoT Security/Node-RED_flows/Sensor flow.json
[{"id":"7769582c.093c58","type":"tab","label":"Sensor Flow","disabled":false,"info":""},{"id":"aeded8db.14aa68","type":"mqtt in","z":"7769582c.093c58","name":"Brightness - MQTT IN","topic":"atm/brightness/value","qos":"0","datatype":"auto","broker":"fb7c421f.802b9","nl":false,"rap":true,"rh":0,"x":260,"y":320,"wires":[["628d4e4d.46e3a"]]},{"id":"c13d4170.88d5e","type":"mqtt in","z":"7769582c.093c58","name":"Gps - MQTT IN","topic":"atm/gps/value","qos":"0","datatype":"auto","broker":"fb7c421f.802b9","nl":false,"rap":true,"rh":0,"x":280,"y":380,"wires":[["31e20922.afbf46"]]},{"id":"b408d1b8.22f6e","type":"mqtt in","z":"7769582c.093c58","name":"Gyroscope - MQTT IN","topic":"atm/gyroscope/value","qos":"0","datatype":"auto","broker":"fb7c421f.802b9","nl":false,"rap":true,"rh":0,"x":260,"y":440,"wires":[["12cbb284.36eced"]]},{"id":"79e41a1a.297cb4","type":"mqtt in","z":"7769582c.093c58","name":"Linearhall - MQTT IN","topic":"atm/linearhall/value","qos":"0","datatype":"auto","broker":"fb7c421f.802b9","nl":false,"rap":true,"rh":0,"x":260,"y":500,"wires":[["36bd5c2b.f32ed4"]]},{"id":"104d5d6f.33fc43","type":"mqtt in","z":"7769582c.093c58","name":"Motion - MQTT IN","topic":"atm/motion/value","qos":"0","datatype":"auto","broker":"fb7c421f.802b9","nl":false,"rap":true,"rh":0,"x":270,"y":620,"wires":[["59a11afc.562ba4"]]},{"id":"249b13d5.9598dc","type":"mqtt in","z":"7769582c.093c58","name":"Temperature - MQTT IN","topic":"atm/temperature/value","qos":"0","datatype":"auto","broker":"fb7c421f.802b9","nl":false,"rap":true,"rh":0,"x":260,"y":680,"wires":[["4069d05f.aad85"]]},{"id":"628d4e4d.46e3a","type":"function","z":"7769582c.093c58","name":"Set Brightness","func":"var arraySize = global.get(\"arraySize\") || 20;\nvar brightnessValue= msg.payload;\nvar brightnessArray = global.get(\"brightnessArray\") || [];\nvar msg1={payload:\"null\"};\nbrightnessValue= parseInt(brightnessValue.replace(/\\D/g,''));\n\nif (brightnessValue >= 0 && brightnessValue < 1025) {\n    if (brightnessArray.length < arraySize){\n        brightnessArray.push(brightnessValue);\n    }\n}\nglobal.set(\"arraySize\",arraySize);\nglobal.set(\"brightnessValue\",brightnessValue);\nglobal.set(\"brightnessArray\",brightnessArray);\nmsg1={payload:brightnessValue};\nreturn msg1;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":320,"wires":[["4e2cc658.d56b98"]]},{"id":"31e20922.afbf46","type":"function","z":"7769582c.093c58","name":"Set GPS","func":"var arraySize = global.get(\"arraySize\") || 20;\nvar gpsValue= msg.payload;\nvar temp = gpsValue.split(';');\n\nvar gpsValueLatS = parseFloat(temp[0].substring(10)).toFixed(3);\nvar gpsValueLonS = parseFloat(temp[1].substring(6)).toFixed(3);\n\nvar gpsValueLat = parseFloat(gpsValueLatS);\nvar gpsValueLon = parseFloat(gpsValueLonS);\n\nvar gpsArray=global.get(\"gpsArray\") || [];\nvar gpsArraySing=[];\n\ngpsArraySing.push(gpsValueLat);\ngpsArraySing.push(gpsValueLon);\n\nvar msg1={payload:\"null\"};\n\nif (gpsArray.length < arraySize){\n        gpsArray.push(gpsArraySing);\n    }\n    \nglobal.set(\"gpsArraySing\",gpsArraySing);\nglobal.set(\"gpsArray\",gpsArray);\nglobal.set(\"gpsValueLat\",gpsValueLat);\nglobal.set(\"gpsValueLon\",gpsValueLon);\nmsg1={payload:gpsValueLat};\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":380,"wires":[["4e2cc658.d56b98"]]},{"id":"12cbb284.36eced","type":"function","z":"7769582c.093c58","name":"Set Gyroscope","func":"var arraySize = global.get(\"arraySize\") || 20;\nvar GyroscopeValue = msg.payload;\nvar arrGyroscope1 = GyroscopeValue.split(';');\nvar temp = arrGyroscope1.join(\"=\");\nvar arrGyroscope = temp.split(\"=\");\n\nvar zAccellerometerValue = parseFloat(arrGyroscope[11]);\nvar zAccellerometerArray=global.get(\"zAccellerometerArray\") || [];\nvar msg1={payload:\"null\"};\n\nif (zAccellerometerArray.length < arraySize){\n        zAccellerometerArray.push(zAccellerometerValue);\n    }\n    \nglobal.set(\"zAccellerometerArray\", zAccellerometerArray);\nglobal.set(\"zAccellerometerValue\",zAccellerometerValue);\nmsg1 = {payload:zAccellerometerValue};\nreturn msg1;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":440,"wires":[["4e2cc658.d56b98"]]},{"id":"36bd5c2b.f32ed4","type":"function","z":"7769582c.093c58","name":"Set Linearhall","func":"var arraySize = global.get(\"arraySize\");\nvar linearHallValue=msg.payload;\nvar linearHallArray =  global.get(\"linearHallArray\") || [];\n\nvar msg1={payload:\"null\"};\nlinearHallValue= parseInt(linearHallValue.replace(/\\D/g,''));\n\nif(linearHallValue >=0 && linearHallValue < 1024) {\n    if (linearHallArray.length < arraySize){\n        linearHallArray.push(linearHallValue);\n    }\n}\nglobal.set(\"linearHallValue\",linearHallValue);\nglobal.set(\"linearHallArray\",linearHallArray);\nmsg1={payload:linearHallValue};\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":500,"wires":[["4e2cc658.d56b98"]]},{"id":"59a11afc.562ba4","type":"function","z":"7769582c.093c58","name":"Set Motion","func":"var motionValue=msg.payload;\nvar msg1={payload:\"null\"};\nmotionValue= parseInt(motionValue.replace(/\\D/g,''));\nglobal.set(\"motionValue\",motionValue);\n\nmsg1={payload:motionValue};\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":620,"wires":[["4e2cc658.d56b98"]]},{"id":"4069d05f.aad85","type":"function","z":"7769582c.093c58","name":"Set Temperature","func":"var arraySize = global.get(\"arraySize\");\nvar tempHumValue= msg.payload;\nvar temperatureArray = global.get(\"temperatureArray\") || [];\nvar humidityArray = global.get(\"humidityArray\") || [];\nvar msg1={payload:\"null\"};\n\ntempHumValue = tempHumValue.substring(4);\nvar arrtempHum = tempHumValue.split(',');\nvar temperatureValue= parseFloat(arrtempHum[0]);\nvar humidityValue=parseFloat(arrtempHum[1]);\n\nif (temperatureValue >= -25 && temperatureValue <= 68) {\n    if (temperatureArray.length < arraySize){\n        temperatureArray.push(temperatureValue);\n    }\n}\n\nif (humidityValue >= 20 && humidityValue <= 90) {\n    if (temperatureArray.length < 100){\n        humidityArray.push(humidityValue);\n    }\n}\nglobal.set(\"temperatureValue\",temperatureValue);\nglobal.set(\"humidityArray\",humidityArray);\nglobal.set(\"humidityValue\", humidityValue);\nglobal.set(\"temperatureArray\",temperatureArray);\nmsg1={payload:temperatureArray};\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":680,"wires":[["4e2cc658.d56b98"]]},{"id":"aa936f67.0cbef","type":"function","z":"7769582c.093c58","name":"Set Microphone","func":"var arraySize = global.get(\"arraySize\");\nvar microphoneValue=msg.payload;\nmicrophoneValue= parseInt(microphoneValue.replace(/\\D/g,''));\nvar msg1={payload:\"null\"};\nvar microphoneArray= global.get(\"microphoneArray\") || [];\n\nif (microphoneValue >= 0 && microphoneValue < 1024) {\n    if (microphoneArray.length < arraySize){\n        microphoneArray.push(microphoneValue);\n    }\n}\nglobal.set(\"microphoneValue\",microphoneValue);\nglobal.set(\"microphoneArray\",microphoneArray);\nmsg1={payload:microphoneValue};\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":560,"wires":[["4e2cc658.d56b98"]]},{"id":"4e2cc658.d56b98","type":"link out","z":"7769582c.093c58","name":"Array - OUT","links":["1149544f.8d3a7c"],"x":775,"y":520,"wires":[]},{"id":"1c481b18.7d1015","type":"mqtt in","z":"7769582c.093c58","name":"Microphone - MQTT IN","topic":"atm/microphone/value","qos":"0","datatype":"auto","broker":"fb7c421f.802b9","nl":false,"rap":true,"rh":0,"x":260,"y":560,"wires":[["aa936f67.0cbef"]]},{"id":"fb7c421f.802b9","type":"mqtt-broker","name":"","broker":"paologas91.chickenkiller.com","port":"1883","clientid":"node-RED-group3","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]